
:root,
:host {  
  --pico-color-orange-950: #1b0d06;
  --pico-color-orange-900: #2d1509;
  --pico-color-orange-850: #411a0a;
  --pico-color-orange-800: #561e0a;
  --pico-color-orange-750: #6b220a;
  --pico-color-orange-700: #7f270b;
  --pico-color-orange-650: #942d0d;
  --pico-color-orange-600: #a83410;
  --pico-color-orange-550: #bd3c13;
  --pico-color-orange-500: #d24317;
  --pico-color-orange-450: #e74b1a;
  --pico-color-orange-400: #f45d2c;
  --pico-color-orange-350: #f56b3d;
  --pico-color-orange-300: #f68e68;
  --pico-color-orange-250: #f8a283;
  --pico-color-orange-200: #f8b79f;
  --pico-color-orange-150: #f8cab9;
  --pico-color-orange-100: rgb(249, 220, 210);
  --pico-color-orange-50: rgb(250, 238, 234);
  --pico-color-orange: #d24317;
}