
.slideshow {
  position: relative;
  width: 600px;  /* adjust to your image size */
  height: 400px;
  margin: 50px auto;
  overflow: hidden;
}

.slideshow img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

/* First image visible initially */
.slideshow img:first-child {
  opacity: 1;
  animation: fade 6s infinite;
}

/* Second image visible in opposite phase */
.slideshow img:last-child {
  animation: fade2 6s infinite;
}

@keyframes fade {
  0%, 45% {
    opacity: 1;
  }
  55%, 100% {
    opacity: 0;
  }
}

@keyframes fade2 {
  0%, 45% {
    opacity: 0;
  }
  55%, 100% {
    opacity: 1;
  }
}
